<!-- Profile Sidebar -->
<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <!-- <img [src]="avatar" alt="Patient Image"> -->
                <img *ngIf="avatar.length > 100" [src]="avatar" alt="Patient Image">
                <img *ngIf="avatar.length < 100" src="assets/img/patients/default-patient.jpeg"  alt="Patient Image">
            </a>
            <div class="profile-det-info">
                <h3>{{patient?.firstname | titlecase }} {{patient?.lastname | titlecase }}</h3>
                <div class="patient-details">
                    <!-- <h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5> -->
                    <!-- <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5> -->
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/patient/appointments">
                        <i class="fas fa-bookmark"></i>
                        <span>Appointments</span>
                    </a>
                </li>
                <li routerLinkActive="active" >
                    <a routerLink="/patient/profile">
                        <i class="fas fa-user-cog"></i>
                        <span>Profile Settings</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/patient/change-password">
                        <i class="fas fa-lock"></i>
                        <span>Change Password</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<!-- / Profile Sidebar -->