<!-- Profile Sidebar -->
<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <img *ngIf="avatar.length > 100" [src]="avatar" alt="Doctor Image">
                <img *ngIf="avatar.length < 100" src="assets/img/doctors/default-doctor.png"  alt="Doctor Image">
            </a>
            <div class="profile-det-info">
                <h3>Dr. {{doctor?.firstname | titlecase}} {{doctor?.lastname | titlecase }}</h3>

                <div class="patient-details">
                    <h5 class="mb-0">{{doctor?.speciality | titlecase }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <!-- <li routerLinkActive="active">
                    <a routerLink="/doctor/dashboard">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                    </a>
                </li> -->
                <li  routerLinkActive="active">
                    <a routerLink="/doctor/appointments">
                        <i class="fas fa-calendar-check"></i>
                        <span>Appointments</span>
                    </a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a routerLink="/doctor/patients">
                        <i class="fas fa-user-injured"></i>
                        <span>My Patients</span>
                    </a>
                </li> -->
                <li routerLinkActive="active">
                    <a routerLink="/doctor/reviews">
                        <i class="fas fa-star"></i>
                        <span>Reviews</span>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/doctor/profile-settings">
                        <i class="fas fa-user-cog"></i>
                        <span>Profile Settings</span>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/doctor/clinic-settings">
                        <i class="fas fa-user-cog"></i>
                        <span>Clinic Settings</span>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/doctor/change-password">
                        <i class="fas fa-lock"></i>
                        <span>Change Password</span>
                    </a>
                </li>
                <li (click)="logout()">
                    <a href="#">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /Profile Sidebar -->

