<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Booking</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="booking-doc-info">
                            <a routerLink="/doctor/profile/{{doctor.id}}" class="booking-doc-img">
                                <img [src]="doctorAvatar" alt="Doctor Image">
                            </a>
                            <div class="booking-info">
                                <h4><a routerLink="/doctor/profile/{{doctor.id}}">Dr. {{doctor?.firstname | titlecase }}
                                        {{doctor?.lastname | titlecase }}</a></h4>
                                <app-rating-star [ratedCount]="doctor?.rating" [readonly]="true"></app-rating-star>
                                <span class="d-inline-block average-rating">{{doctor?.averageRating}}</span>
                            </div>
                            <!-- <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> , </p> -->
                        </div>
                    </div>
                </div>
                <!-- Schedule Widget -->
                <div class="card booking-schedule schedule-widget">
                    <!-- Schedule Content -->
                    <div class="schedule-cont">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Schedule an Appointment</div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="control-label">Description</label>
                                                        <textarea [(ngModel)]="appointment.description"
                                                            class="form-control" rows="5"></textarea>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">Appointment Date</label>
                                                        <input [(ngModel)]="appointmentDate" type="datetime-local"
                                                            class="form-control" name="appointmentDate">
                                                    </div>
                                                </div>

                                            </div>
                                            <input (click)="onSubmit()" type="submit" class="btn btn-primary" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Content -->

                </div>
                <!-- /Schedule Widget -->

            </div>
        </div>
    </div>
</div>