 <!-- Appointment List -->
 <div class="appointment-list">
    <div class="profile-info-widget">
        <a routerLink="/patient/profile/{{patient.id}}" class="booking-doc-img">
            <img [src]="avatar" alt="Patient Image">
        </a>
        <div class="profile-det-info">
            <h3><a routerLink="/patient/profile/{{patient.id}}">{{patient.firstname | titlecase }} {{patient.lastname | titlecase }}</a></h3>
            <div class="patient-details">
                <h5><i class="far fa-clock"></i> 14 Nov 2019, 10.00 AM</h5>
                <h5><i class="fas fa-map-marker-alt"></i> Newyork, United States</h5>
                <h5><i class="fas fa-envelope"></i> {{patient.email}}</h5>
                <h5 class="mb-0"><i class="fas fa-phone"></i> +1 923 782 4575</h5>
            </div>
        </div>
    </div>
    <div class="appointment-action">
        <!-- <a (click)="viewAppointment()" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
            <i class="far fa-eye"></i> View
        </a> -->
        <a *ngIf="appointment.state == ''" (click)="acceptAppointment()" class="btn btn-sm bg-success-light">
            <i class="fas fa-check"></i> Accept
        </a>
        <a *ngIf="appointment.state == ''"  (click)="cancelAppointment()" class="btn btn-sm bg-danger-light">
            <i class="fas fa-times"></i> Cancel
        </a>
        <a *ngIf="appointment.state != ''"  class="btn btn-sm bg-success-light">
            <i class="fas fa-times"></i> {{appointment.state}}
        </a>
    </div>
</div>
<!-- /Appointment List -->
