
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a routerLink="home" class="navbar-brand logo">
                <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a routerLink="home" class="menu-logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" routerLink="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav" *ngIf="showPatientMenu">
                <li class="active">
                    <a routerLink="/home">Home</a>
                </li>

               
                <li class="has-submenu" >
                    <a routerLink="/patient/profile">Profile</a>
                </li>
                <li class="has-submenu" >
                    <a routerLink="/patient/dashboard">Dashboard</a>
                </li>
                <li class="has-submenu" >
                    <a href="#">Settings <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a routerLink="/patient/profile">Profile Settings</a></li>
                        <li><a routerLink="/patient/editPassword">Change Password</a></li>
                    </ul>
                </li>
                 <li class="has-submenu" >
                    <li><a routerLink="/search">Search Doctors</a>
                </li>
                <li class="has-submenu" >
                    <a routerLink="/contact">Contact Us</a>
                </li>
                <li class="has-submenu" >
                    <a routerLink="/about">About Us</a>
                </li>
            </ul>
            <ul class="main-nav" *ngIf="showDoctorMenu">
                <li class="active">
                    <a routerLink="/home">Home</a>
                </li>

                <li class="has-submenu" >
                    <a href="#">Profile<i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a routerLink="/doctor/profile-settings" routerLinkActive="active">Profile Settings</a></li>
                        <li><a routerLink="/doctor/change-password" routerLinkActive="active">Change Password</a></li>
                    </ul>
                </li>

                <li class="has-submenu" >
                    <a routerLink="/doctor/checkout" routerLinkActive="active">Checkout</a>
                </li>
                <li class="has-submenu" >
                    <a routerLink="/doctor/doctor-dashboard" routerLinkActive="active">Dashboard</a>
                </li>
                <li class="has-submenu" >
                    <a routerLink="/doctor/booking-success" routerLinkActive="active">Booking Success</a>
                </li>
                <li class="has-submenu" >
                    <a routerLink="/contact">Contact Us</a>
                </li>
                <li class="has-submenu" >
                    <a routerLink="/about">About Us</a>
                </li>
            </ul>
            <ul class="main-nav" *ngIf="showAdminMenu">
                <li class="active">
                    <a routerLink="/home">Home</a>
                </li>
                <li class="has-submenu" >
                    <a routerLink="/admin" routerLinkActive="active">Admin</a>
                </li>
            </ul>				 
        </div>		 
        <ul class="nav header-navbar-rht" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <a class="nav-link header-login" routerLink="/patient/login" >login / Signup </a>
            </li>
        </ul>

        <ul class="nav header-navbar-rht" *ngIf="isLoggedIn">

            <li class="nav-item">
                <a class="btn nav-link header-login" (click)="logout()">logout </a>
            </li>
        </ul>
    </nav>
</header>
