<div class="card">
    <div class="card-body">
        <div class="doctor-widget">
            <div class="doc-info-left">
                <div class="doctor-img">
                    <a routerLink="/doctor/profile/{{doctor?.id}}">
                        <img [src]="retrievedAvatar" class="img-fluid" alt="Doctor Image">
                    </a>
                </div>
                <div class="doc-info-cont">
                    <h4 class="doc-name"><a routerLink="/doctor/profile/{{doctor?.id}}">{{doctor?.firstname | titlecase}} {{doctor?.lastname | titlecase}}</a></h4>
                    <p class="doc-speciality">{{doctor?.speciality }}</p>
                    <h5 class="doc-department">{{doctor?.speciality}}</h5>
                    <div class="rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star"></i>
                        <span class="d-inline-block average-rating">({{doctor?.averageRating}})</span>
                    </div>
                    <div class="clinic-details">
                        <p class="doc-location"><i class="fas fa-map-marker-alt"></i>  {{clinic?.country | titlecase }} {{clinic?.city | titlecase}}</p>
                        <ul class="clinic-gallery">
                            <li *ngFor="let photo of clinicPhotos">
                                <a routerLink="/doctor/profile/{{doctor?.id}}" data-fancybox="gallery">
                                <img [src]="photo" alt="Feature">  
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clinic-services">
                        <span *ngFor=" let service of clinic?.services"> {{service}} </span>
                    </div>
                </div>
            </div>
            <div class="doc-info-right">
                <div class="clini-infos">
                    <ul>
                        <li><i class="far fa-comment"></i> {{doctor?.reviews?.length}} Feedback</li>
                        <li><i class="fas fa-map-marker-alt"></i> {{clinic?.country + " " + clinic?.city}}</li>
                        <li><i class="far fa-money-bill-alt"></i> {{clinic?.minPrice | currency}} - {{clinic?.maxPrice | currency}}  </li>
                    </ul>
                </div>
                <div class="clinic-booking">
                    <a class="view-pro-btn" routerLink="/doctor/profile/{{doctor?.id}}">Voir Doctor</a>
                    <a class="apt-btn" routerLink="/booking/{{doctor?.id}}">BOOK APPOINTMENT</a>
                </div>
            </div>
        </div>
    </div>
</div>
